@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	background-color: #282a36;
	color: #f8f8f2;
}

.leetcode-problem pre > code {
	@apply break-words rounded-none border-0 bg-transparent p-0 text-dracula-darker-100;
	counter-reset: line;
	box-decoration-break: clone;
}
